In [2]:
import numpy as np

In [35]:
d=np.genfromtxt(r"C:\Users\Nithya\Downloads\tipsf.csv", delimiter=",", skip_header=1)
print(d)

[[  0.    16.99   1.01 ...   1.     0.     2.  ]
 [  1.    10.34   1.66 ...   1.     0.     3.  ]
 [  2.    21.01   3.5  ...   1.     0.     3.  ]
 ...
 [241.    22.67   2.   ...   0.     0.     2.  ]
 [242.    17.82   1.75 ...   0.     0.     2.  ]
 [243.    18.78   3.   ...   2.     0.     2.  ]]

In [6]:
# 1. What is the total bill value

In [7]:
np.sum(d[:,1])

4827.77

In [8]:
# 2. What is the total tip value

In [9]:
np.sum(d[:,2])

731.5799999999999

In [10]:
# 3. Count how many sun,sat,thurs,fri are there

In [12]:
day=np.unique(d[:,5],return_counts=True)
count=day[1]
print("sunday :",count[1])
print("saturday :",count[0])
print("thursday :",count[2])
print("Friday :",count[3])

sunday : 76
saturday : 87
thursday : 62
Friday : 19

In [1]:
# 4. How many smokers are there

In [6]:
smokers = d[:,4][d[:,4]==1]
print("Smokers {}".format(len(smokers)))

Smokers 93

In [7]:
# 5. What is the average tip given by female and male

In [9]:
female_tip = d[:,2][d[:,3]==1]
male_tip = d[:,2][d[:,3]==0]
print("Average of female tip",np.average(female_tip))
print("Average of male tip",np.average(male_tip))

Average of female tip 3.0896178343949043
Average of male tip 2.8334482758620685

In [10]:
# 6. How much amount have been spent by female and male

In [11]:
male_amount = d[:,1][d[:,3]==0]
female_amount = d[:,1][d[:,3]==1]
print("Total amount spent by female is: ",np.sum(female_amount))
print("Total amount spent by male is: ",np.sum(male_amount))

Total amount spent by female is:  3256.8199999999997
Total amount spent by male is:  1570.9499999999996

In [12]:
# 7. What is the minimum and maximum tip given

In [13]:
print("Maximum tip given is: ", np.max(d[:,2]))
print("Minimum tip given is: ", np.min(d[:,2]))

Maximum tip given is:  10.0
Minimum tip given is:  1.0

In [14]:
# 8. How many male and female are going for dinner and lunch

In [25]:
print("Total no.of females going for lunch are: {}".format(np.sum((d[:,3]==1)&(d[:,6]==0))))
print("Total no.of females going for dinner are: {}".format(np.sum((d[:,3]==1)&(d[:,6]==1))))
print("Total no.of males going for lunch are: {}".format(np.sum((d[:,3]==0)&(d[:,6]==0))))
print("Total no.of males going for dinner are: {}".format(np.sum((d[:,3]==0)&(d[:,6]==1))))

Total no.of females going for lunch are: 124
Total no.of females going for dinner are: 33
Total no.of males going for lunch are: 52
Total no.of males going for dinner are: 35

In [26]:
# 9. find out the average size

In [27]:
print("Average size is: ", np.average(d[:,7]))

Average size is:  2.569672131147541

In [28]:
# 10. Find the number of female smokers and male smokers

In [32]:
print("Total no.of female smokers are: ", len(d[:,4][(d[:,4]==1) & (d[:,3]==1)]))
print("Total no.of male smokers are: ", len(d[:,4][(d[:,4]==1) & (d[:,3]==0)]))

Total no.of female smokers are:  60
Total no.of male smokers are:  33

In [34]:
t=np.genfromtxt(r"C:\Users\Nithya\Downloads\train_extended.csv", delimiter=",", skip_header=1)
print(t)

[[ 1.575       1.225       0.375      ...  6.3219385   9.63883
  10.        ]
 [ 1.2375      1.          0.375      ...  3.798833    7.654365
  19.        ]
 [ 1.45        1.1625      0.4125     ...  7.01650125  7.257472
  11.        ]
 ...
 [ 1.125       0.9125      0.2875     ...  1.984465    3.118445
   7.        ]
 [ 1.625       1.275       0.4125     ...  7.86698625 10.489315
  11.        ]
 [ 1.5875      1.25        0.3875     ...  7.38504475  8.788345
  11.        ]]

In [36]:
# 1. What is the maximum and minimum length

In [40]:
x = np.max(t[:,0])
y = np.min(t[:,0])
print("The maximum length is: ", x)
print("The minimum length is: ", y)

The maximum length is:  7.58349125
The minimum length is:  0.0

In [39]:
# 2. Find out the difference between maximum and minimum length

In [41]:
print("The difference between maximum and minimum length is: ", x-y)

The difference between maximum and minimum length is:  7.58349125

In [42]:
# 3. Find column wise average

In [47]:
print("Average length is: ", np.average(t[:,0]))
print("Average diameter is: ", np.average(t[:,1]))
print("Average height is: ", np.average(t[:,2]))
print("Average weight is: ", np.average(t[:,3]))
print("Average shucked weight is: ", np.average(t[:,4]))
print("Average viscera weight is: ", np.average(t[:,5]))
print("Average shell weight is: ", np.average(t[:,6]))
print("Average age is: ", np.average(t[:,7]))

Average length is:  1.3124480799562501
Average diameter is:  1.020320357165
Average height is:  0.34602787104999994
Average weight is:  23.123436312982403
Average shucked weight is:  9.989370248049001
Average viscera weight is:  4.993180956748749
Average shell weight is:  6.634229147607001
Average age is:  9.950615

In [46]:
# 4. Find out all the ages whose height > 0.4

In [48]:
print("The ages with height > 0.4 are: ", t[:,7][t[:,2]>0.4])

The ages with height > 0.4 are:  [11. 14. 13. ... 11. 11. 11.]

In [49]:
# 5. What is the average height and weight of persons whose age is 10

In [52]:
print("The average height is: ",np.average(t[:,2][t[:,7]==10]))
print("The average weight is: ",np.average(t[:,3][t[:,7]==10]))

The average height is:  0.3833672856539947
The average weight is:  28.243308450511314

In [53]:
# 6. What is the total shell weight

In [54]:
print("Total shell weight is: ", np.sum(t[:,6]))

Total shell weight is:  1326845.8295214002

In [55]:
# 7. How many persons belong to each and every unique age

In [58]:
np.unique(t[:,-1],return_counts=True)

(array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
        14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
        27., 29.]),
 array([   46,    42,   625,  2787,  5475, 12450, 18276, 26818, 32906,
        30803, 23457, 12717, 10037,  6352,  4831,  3191,  2705,  1953,
         1591,  1206,   721,   296,   352,   110,    51,    46,    99,
           57], dtype=int64))

In [59]:
# 8. What is the difference between shucked weight and viscera weight

In [60]:
print("The difference between shucked weight and viscera weight is: ", np.sum(t[:,4])-np.sum(t[:,5]))

The difference between shucked weight and viscera weight is:  999237.8582600503

In [61]:
# 9. what is the average height of persons whose age is between 14 and 19

In [64]:
print("The average height of persons whose age is between 14 and 19 is: ", np.average(t[:,2][(t[:,-1]>14) & (t[:,-1]<19)]))

The average height of persons whose age is between 14 and 19 is:  0.4190701892744479

In [65]:
# 10. What is the average weight of shucked weight, viscera weight, shell weight

In [69]:
print("The average of shuckedweight,visceraweight,shellweight is:", np.average(np.sum(t[:,-2])+np.sum(t[:,-3])+np.sum(t[:,-4])))

The average of shuckedweight,visceraweight,shellweight is: 4323356.07048095