In [1]:
import pandas as pd

In [2]:
grains = pd.read_csv(r"C:\Users\Nithya\Downloads\all_grains_data.csv")

In [3]:
grains

      ticker commodity        date     open     high      low    close  volume
0       ZC=F      Corn  2000-07-17   182.25   182.25   178.25   179.25   19385
1       ZC=F      Corn  2000-07-18   179.00   183.25   179.00   180.75   25205
2       ZC=F      Corn  2000-07-19   180.00   182.75   178.75   182.00   17126
3       ZC=F      Corn  2000-07-20   181.50   187.00   181.00   186.00   18742
4       ZC=F      Corn  2000-07-21   185.50   188.00   185.00   187.75   16814
...      ...       ...         ...      ...      ...      ...      ...     ...
34878   ZS=F   Soybean  2023-09-11  1352.50  1352.50  1352.00  1352.50      36
34879   ZS=F   Soybean  2023-09-12  1348.75  1348.75  1331.75  1331.75     274
34880   ZS=F   Soybean  2023-09-13  1325.50  1336.00  1325.50  1336.00     201
34881   ZS=F   Soybean  2023-09-14  1343.75  1343.75  1343.75  1343.75  138778
34882   ZS=F   Soybean  2023-09-15  1360.50  1367.75  1338.25  1340.25  138778

[34883 rows x 8 columns]

In [4]:
# 1.Which commodity was having the highest opening price for the day.

In [73]:
grains.loc[grains["open"]==max(grains["open"]),"commodity"]

19437    Rough Rice
Name: commodity, dtype: object

In [13]:
# 2.Which commodity price reached  maximum during the trading session.

In [74]:
grains.loc[grains["high"]==max(grains["high"]),"commodity"]

19437    Rough Rice
Name: commodity, dtype: object

In [39]:
# 3.What is the average Market's opening price for the Oat in 2010

In [75]:
grains["date"]=grains["date"].astype('datetime64[ns]')
grains.loc[(grains["date"].dt.year==2010) & (grains["commodity"]=="Oat"),"open"].mean()

275.11607142857144

In [57]:
# 4.What is the maximum and minimum Number of contracts traded during the 2009

In [76]:
max(grains.loc[grains["date"].dt.year==2009,"volume"])

252221

In [77]:
min(grains.loc[grains["date"].dt.year==2009,"volume"])

0

In [16]:
# 5.Which year have  maximum and minimum Number of contracts traded

In [20]:
grains.loc[grains["volume"]==max(grains["volume"]),"date"]

4216   2017-06-07
Name: date, dtype: datetime64[ns]

In [32]:
grains.loc[grains["volume"]==min(grains["volume"])]

      ticker commodity       date     open     high      low    close  volume
821     ZC=F      Corn 2003-12-11   250.50   253.00   247.00   252.00       0
1328    ZC=F      Corn 2005-12-13   195.50   195.50   195.50   195.50       0
4486    ZC=F      Corn 2018-07-03   340.25   345.25   339.25   342.75       0
4528    ZC=F      Corn 2018-08-31   341.00   352.00   340.75   351.00       0
5682    ZC=F      Corn 2023-04-06   652.25   652.50   641.75   643.50       0
...      ...       ...        ...      ...      ...      ...      ...     ...
29219   ZS=F   Soybean 2001-03-13   455.00   455.00   455.00   459.00       0
30306   ZS=F   Soybean 2005-07-12   698.50   698.50   698.50   698.50       0
33573   ZS=F   Soybean 2018-07-03   849.50   852.75   843.00   844.00       0
33615   ZS=F   Soybean 2018-08-31   816.00   833.25   816.00   833.00       0
34771   ZS=F   Soybean 2023-04-06  1510.00  1510.25  1483.25  1492.50       0

[2812 rows x 8 columns]

In [33]:
# 6.Which commodity have the average lowest opening price around 2001 to 2005

In [78]:
grains.loc[(grains["date"].dt.year>=2001) & (grains["date"].dt.year<=2005) & (grains["open"]==min(grains["open"])), "commodity"]

23466    Soybean Oil
Name: commodity, dtype: object

In [65]:
# 7.Which commodity have the best average  Market's closing price

In [79]:
result = pd.pivot_table(grains, index="commodity", values="close", aggfunc=["mean"])
result

                     mean
                    close
commodity
Corn           409.404772
KC HRW Wheat   563.693282
Oat            278.657674
Rough Rice    1143.607925
Soybean        998.015728
Soybean Oil     36.820361

In [51]:
result.loc[result["close"]==min(result["close"])]

                 close
commodity
Soybean Oil  36.820361

In [54]:
# 8. Which year corn have the highest and lowest Number of contracts traded

In [81]:
grains["date"]=grains["date"].astype('datetime64[ns]')
grains["date"]=grains["date"].dt.year

In [82]:
grains.loc[(grains["commodity"]=="Corn") & (grains["volume"]==max(grains["volume"])), "date"]

4216    2017
Name: date, dtype: int64

In [83]:
grains.loc[(grains["commodity"]=="Corn") & (grains["volume"]==min(grains["volume"])), "date"]

821     2003
1328    2005
4486    2018
4528    2018
5682    2023
Name: date, dtype: int64